@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-light text-slate-900 font-display antialiased;
}

.dark body {
  @apply bg-background-dark text-slate-100;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom Thin Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
